* {
    outline: none;
}

.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-right: 5px;
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: $font-family, sans-serif;
    color: $line-numbers-color;
    overflow: hidden;
    font-size: $editor-default-font-size;
    margin: 0;
    width: 40px;
    height: calc(100% - 50px);
    border: none;
    white-space: nowrap;
    background: $line-numbers-background;
    text-align: right;
    &::selection {
        background: transparent;
    }
    pointer-events: none;
    & div {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }
}

.code-editor-colors {
    text-align: left;
    @if $text-editor-shadow != 'none' {
        -webkit-text-stroke: 1px $text-editor-shadow;
    }
    font-size: $editor-default-font-size;
    position: absolute;
    top: 0;
    left: 45px;
    right: 0;
    bottom: 0;
    padding: 25px;
    padding-left: 25px;
    font-family: $font-family, sans-serif;
    background: $code-editor-default-background;
    color: $code-editor-default-color;
    overflow: auto;
    margin: 0;
    width: calc(100% - 95px);
    height: calc(100% - 50px);
    border: none;
    white-space: nowrap;
    overflow: hidden;
    & div,
    & span {
        padding: 0;
        margin: 0;
        font-size: $editor-default-font-size;
        font-family: $font-family, sans-serif;
    }
    & div {
        color: $code-editor-default-color;
        &.default1 {
            color: $color-default1;
        }
        &.default2 {
            color: $color-default2;
        }
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        &:focus {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            border-top: 1px solid rgba(255, 255, 255, 0.05);
        }
    }
}

.line {
    display: block;
    overflow: visible;
    padding: 0;
    margin: 0;
    font-size: $editor-default-font-size;
    font-family: $font-family, sans-serif;
    color: $code-editor-default-color;
}

.keyword1 {
    color: $color-keyword1;
}

.keyword2 {
    color: $color-keyword2;
}

.object {
    color: $color-objects;
}

.function {
    color: $color-function;
}

.string {
    color: $color-string;
}

.comment {
    color: $color-comment;
}

.operator {
    color: $color-operators;
}

$scrollbar-thumb: rgb(41, 41, 41);
$scrollbar-thumb-hover: rgb(143, 143, 143);
::-webkit-scrollbar {
    -webkit-app-region: no-drag;
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track {
    -webkit-app-region: no-drag;
    background: none;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-app-region: no-drag;
    background: $scrollbar-thumb;
    transition: 0.75s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-app-region: no-drag;
    background: $scrollbar-thumb-hover;
}

select {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    background: transparent;
}
